---

---

<section class="py-24 text-center container mx-auto px-6 text-white">
    <h2 class="text-4xl font-bold uppercase">Prueba de 30 dias</h2>
     <p class="max-w-2xl mx-auto my-6 text-gray-400">Asegúrese de que Starlink se adapte a sus necesidades. Si no está satisfecho, devuelva el hardware para obtener un reembolso completo.</p>
        <form class="flex flex-col md:flex-row justify-center gap-4 max-w-2xl mx-auto">
            <button type="submit" class="bg-white text-black font-bold py-3 px-8 hover:bg-gray-300 transition-colors duration-300 whitespace-nowrap">ORDENAR AHORA</button>
        </form>
</section>