---

---
<div class="space-y-6">
    <div>
        <h2 class="font-semibold text-white">Instale la antena Starlink en solo dos pasos. Las instrucciones pueden seguirse en cualquier orden:</h2>
        <hr class="border-gray-700 mt-4">
    </div>
    <div>
        <p class="font-semibold text-white">1. CONECTARLO<br>2. APUNTARLO AL CIELO</p>
        <p class="text-gray-300">Starlink requiere un cielo despejado y sin obstrucciones. Descargue la aplicación Starlink para determinar la mejor ubicación para su instalación.</p>
        <hr class="border-gray-700 mt-4">
    </div>
</div>