---

---
<header class="absolute top-0 left-0 w-full bg-transparent z-50">
    <div class="container mx-auto flex justify-between items-center py-5 px-6">

        <a href="/" class="text-white text-2xl font-extrabold tracking-wider">STARLINK</a>

        <nav class="hidden md:flex items-center space-x-8">
            <a href="/Residencial" class="text-white ...">RESIDENCIAL</a>
            <a href="/Itinerante" class="text-white ...">ITINERANTE</a>
            <a href="/Contacto" class="text-white ...">CONTACTO</a>
            <a href="/Blog" class="text-white ...">BLOG</a>

        </nav>
    </div>
</header>